:root {
  --background: #3b3667;
  --foreground: #46eaee;
  --accent: #3d558d;
  --darker-fg: #3184ab;
}


.guild {
    background-color: var(--accent);
    max-width: 80vw;
    max-height: 10vh;
    padding: 1em;
    margin: 0 10vw 3vh 10vw;
}

.guild-icon {
    max-width: 51px;
}

.guild-name {
    font-size: 1em;
    display: inline-block;
}

.guild-count {

}

.guild-open {
    max-width: 25px;
    max-height: 25px;
}
