:root {
  --background: #3b3667;
  --foreground: #46eaee;
  --accent: #3d558d;
  --darker-fg: #3184ab;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

header {
  max-width: 300px;
  margin: auto;
}

.content {
  max-width: 300px;
  margin: auto;
}

@media (min-width: 1000px) {

}
